Write a Python function to sum all the numbers in a list.

Sample List : (8, 2, 3, 0, 7)

Expected Output : 20

In [1]:
def ads(li):
	fi = sum(li)
	print(fi)
 
li = [8,2,3,0,7]
ads(li)

20

Write a Python program to reverse a string.

Sample String : "1234abcd"

Expected Output : "dcba4321"

In [2]:
def rev(s):
	print(s[::-1])
 
s =  "1234abcd"
rev(s)

dcba4321

Write a Python function that accepts a string and calculate the number of upper case letters and lower case letters.

Sample String : 'The quick Brow Fox'

Expected Output :

No. of Upper case characters : 3

No. of Lower case Characters : 12

In [6]:
def up_low(s):
	upper = 0
	lower = 0
	for i in s:
		if i.isupper():
			upper += 1
		elif i.islower():
			lower += 1
		else:
			pass
	print("No of letters with upper case "+str(upper))
	print("No of letters with lower case "+str(lower))
 
s = 'The quick Brow Fox'
up_low(s)

No of letters with upper case 3
No of letters with lower case 12