Given a list of numbers

filenames = ['view.jpg', 'bear.jpg', 'ball.png']

Write a program Add the file 'phone.jpg' to this list at the beginning. Then delete the file 'ball.png'. In response, print the filenames list to the console.



Expected Output

['phone.jpg', 'view.jpg', 'bear.jpg']

In [1]:
file = ['view.jpg','bear.jpg','ball.png']
file.insert(0,'phone.jpg')
file.pop()
print(file)

['phone.jpg', 'view.jpg', 'bear.jpg']

L = [1,2,3,4,5,6,7,8,9,10]

Write a program to find the maximum,minimum and average element in a given list without using m

In [2]:
L = [1,2,3,4,5,6,7,8,9,10]
mi = 0
mx = 0
sm = 0
for i in L:
	if i>=mx:
		mx=i
	if i<=mi:
		mi=i
	sm += i

print ("minimum value is " ,{mi})
print ("maximum value is " ,{mx})
print ("average  value is " ,{sm/len(L)})

minimum value is  {0}
maximum value is  {10}
average  value is  {5.5}

Given a list

L : [1,1,1,1,2,2,3,3,3,3,4,5]

Write a program to print only unique elements

Note : Don't convert List to Set



Expected Output

Unique List : [1, 2, 3, 4, 5]

In [3]:
L = [1,1,1,1,2,2,3,3,3,3,4,5]
L1 = []
[L1.append(i) for i in L if i not in L1]
print(L1)

[1, 2, 3, 4, 5]

Given a list

L = [1,2,3,4, [4,3] ]

Check if the given number exist in the inner list

In [4]:
n = int(input("enter the number "))
L = [1,2,3,4, [4,3] ]
for i in L[-1]:
    if i == n:
        print("number exists")

enter the number 4
number exists

Given a list of lists

numbers_nested = [[1,-1,2],[0,-5,3,5,-2],[1,2,1,0,-2,-3]]

Write a program to grab only positive numbers in each nested list and put that in a new list

In [5]:
n_l = [[1,-1,2],[0,-5,3,5,-2],[1,2,1,0,-2,-3]]
kk = [k for i in n_l for k in i if k>0]
print(kk)

[1, 2, 3, 5, 1, 2, 1]

Given a list of lists

L = [ [1,2,3] , [ 4,5,6,3 ], [-1,-2,-10,5,8] ]



Write a program to to print the average sum of value from each inner list and print the sum of each average

Expected Output

6/3 + 18/4 + 0 ⇒ 2 + 4.5 ⇒ 6.5

In [6]:
L = [ [1,2,3] , [ 4,5,6,3 ], [-1,-2,-10,5,8] ]
sm = 0
for i in L:
	k1 = 0
	for k in i:
		k1+=k
	sm += k1/len(i)
    
print(sm)

6.5